body {
    margin: 0;
    font-family: poppins, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 5% 15%;
      margin-top: 20px;
  }
  .left-content {
    width: 50%;
  }

  .right-content {
    margin-top: 40px;
    width: 40%;
  }
  .vertical-bar-text {
    display: flex;
    align-items: center;
}

  .vertical-bar {
    width: 4px;
    height: 20px;
    background-color: #babcbe;
    margin-right: 10px;
}
  .h1 {
    font-size: 18px;
    color: #333;
  }
  .description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  .description strong {
    font-weight: bold;
  }
  .social-icons {
    display: flex;
    gap: 1px;
  }

  .social-icons a { /*định dạng liên kết trong vùng*/
    display: inline-block;
    padding: 10px;
    background-color: #eeeeee;
    text-align: center;
    transition: background-color 0.3s; /*chuyển màu nền*/
    color:#fff;
  }

  .social-icons a:hover {
    background-color: #ddd;
  }
  social-icons i { /* biểu tượng mxh*/
    font-size: 16px;
    color: white !important;
  }

  .right-content .item {
    display: flex;
    margin-bottom: 20px;
  }

  .item-number {
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-right: 10px;
    height:20px;
  }

  .item-text {
    font-size: 20px;
  }

  .item-text h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .item-text p {
    margin: 5px 0 0;
    font-size: 13px;
    color: #666;
  }